<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message Redirect</title>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${params.message}]]*/ null;
        alert(message);
        
        var redirectUrl = /*[[${params.url}]]*/ null;
        var data = /*[[${params.data}]]*/ null;

        if (data) {
            var queryParams = new URLSearchParams(data).toString();
            redirectUrl += '?' + queryParams;
        }

        window.location.href = redirectUrl;
        /*]]>*/
    </script>
</body>
</html>